aniso8601==8.1.1
api==0.0.7
astroid==2.4.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
decorator==4.4.2
dnspython==2.1.0
email-validator==1.1.2
evdev==1.4.0
Flask==1.1.2
Flask-Cors==3.0.10
flask-mongoengine==1.0.0
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.8
Flask-WTF==0.14.3
heatmappy==0.2.6
idna==2.10
ImageHash==4.2.0
imageio==2.9.0
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
keyboard==0.13.5
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
mongoengine==0.22.1
moviepy==0.2.2.11
networkx==2.5
nose==1.3.7
numpy==1.19.5
opencv-python==4.5.1.48
osmviz==3.3.0
pandas==1.1.5
Pillow==6.2.0
PyGetWindow==0.0.9
pylint==2.6.0
pymongo==3.11.3
pynput==1.7.3
pyparsing==2.0.6
PyRect==0.1.4
python-dateutil==2.4.2
python-xlib==0.29
pytz==2015.7
PyWavelets==1.1.1
regex==2020.11.13
requests==2.25.1
scikit-image==0.17.2
scipy==1.1.0
seaborn==0.11.1
simplejson==3.17.2
six==1.15.0
tifffile==2020.9.3
toml==0.10.2
tqdm==4.56.0
typed-ast==1.4.2
urllib3==1.26.3
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
